.project-container {
	/* l */
}
.projects {
	flex-wrap: wrap;
	width: 95%;
	margin: 0 auto;
	padding: .75em 2em;
}
figure {
	max-width: max-content;
	margin: .5em;
	float: left;
	/* border: 1px solid black; */
	height: 100%;
	position: relative;
	
}
figcaption {
	position: absolute;
	right: 0;
	left: 0;
	text-align: center;
	bottom: 15px;
	padding: .35em;
	/* letter-spacing: .2em; */
	color: whitesmoke;
	background: rgba(0, 0, 0, 0.5);
	font-size: 1.5em;
	font-weight: bold;
}
.img-placeholder1 {
	/* float: left; */
	width: 225px;
	height: 225px;
	/* margin: 3em auto; */
	background: lightslategrey;
	text-align: center;
	line-height: 225px;
	/* margin-bottom: .5em; */
	/* margin-right: 1em; */
	/* display: block; */
}
img {
	max-width: 255px;
	height: auto;
}
