@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
	font-family: 'Roboto';
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}
tr{
	border: 1px solid black;
}
